<div id="inner-right">
    <div id="notice">
        <span>(공지사항)</span>
        <table class="table">
            <tbody>
            <tr>
                <td>샘플 공지사항 1</td>
            </tr>
            <tr>
                <td>샘플 공지사항 2</td>
            </tr>
            <tr>
                <td>샘플 공지사항 3</td>
            </tr>
            </tbody> 
        </table>
    </div>
    <div id="best-posts">
        <span>(추천글)</span>
        <table class="table">
            <tbody>
            <tr>
                <td>샘플 추천글 1</td>
            </tr>
            <tr>
                <td>샘플 추천글 2</td>
            </tr>
            <tr>
                <td>샘플 추천글 3</td>
            </tr>
            </tbody> 
        </table>
    </div>
</div>