<div id="inner-right">
    <div id="notice">
        <span>(공지사항)</span>
        <table class="table">
            <tbody>
            <tr>
                <td>샘플 공지사항 1</td>
            </tr>
            <tr>
                <td>샘플 공지사항 2</td>
            </tr>
            <tr>
                <td>샘플 공지사항 3</td>
            </tr>
            </tbody> 
        </table>
    </div>
    <div id="best-posts">
        <span>추천글</span>
        <table class="table">
            <tbody>
                <% for (let bestPost of bestPosts) { %>
                    <tr onmouseover="this.style.backgroundColor='#CCCCCC'; this.style.cursor='pointer'" onmouseout="this.style.backgroundColor='#FFFFFF'" onclick="location.href='/view?id=<%=bestPost.ID%>'">
                        <td><%=bestPost.TITLE%></td>
                    </tr>
                <% } %>
            </tbody> 
        </table>
    </div>
</div>