<div id="inner-right">
    <div id="notice">
        <span>공지사항</span>
        <table class="table">
            <tbody>
                <% for (let announcement of announcements) { %>
                    <tr onmouseover="this.style.backgroundColor='#CCCCCC'; this.style.cursor='pointer'" onmouseout="this.style.backgroundColor='#FFFFFF'" onclick="location.href='/view?id=<%=announcement.ID%>'">
                        <td><%=announcement.TITLE%></td>
                    </tr>
                <% } %>
            </tbody> 
        </table>
    </div>
    <div id="best-posts">
        <span>추천글</span>
        <table class="table">
            <tbody>
                <% for (let bestPost of bestPosts) { %>
                    <tr onmouseover="this.style.backgroundColor='#CCCCCC'; this.style.cursor='pointer'" onmouseout="this.style.backgroundColor='#FFFFFF'" onclick="location.href='/view?id=<%=bestPost.ID%>'">
                        <td><%=bestPost.TITLE%></td>
                    </tr>
                <% } %>
            </tbody> 
        </table>
    </div>
</div>