<div id="navi-bar">
    <div id="menu-button">
        <div id="menu-button-line-wrapper">
        <div id="line-top" class="line init top-reverse"></div>
        <div id="line-mid" class="line init mid-reverse"></div>
        <div id="line-bot" class="line init bot-reverse"></div>
        </div>
    </div>
</div>