<aside id="sidebar">
    <div id="login-form">
        <a href="/login/google">구글로 로그인</a>
    </div>
    <div id="board-list">
        <ul class="list-group">
            <a href="/list"><li class="list-group-item active">전체글 보기</li></a>
            <a href="/list?type=자유게시판"><li class="list-group-item">자유게시판</li></a>
            <a href="/list?type=유머게시판"><li class="list-group-item">유머게시판</li></a>
        </ul>
    </div>
</aside>