body,html{
  height: 100%;
  margin: 0;
  min-width: 1160px;
}
p{
  margin: 0;
}
.table{
  margin-bottom: 0;
}
#navi-bar{
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#content{
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#board-title{
  padding-top:50px;
  font-size: 4em;
}
#wrap-upper{
  height: 40px;
  width: 1180px;
  margin: 0 auto;
}
#post-button{
  float: left;
}
#wrap-inner{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#inner-left{
  min-height: 1100px;
  min-width: 900px;
  border: solid 1px grey;
  margin-right: 30px;
  position: relative;
}
#inner-left tr{
  height: 50px;
}
#inner-right{
  min-height: 1100px;
  min-width: 250px;
  font-size: 10pt;
}
#sidebar {
  background: grey;
  width: 300px;
  height: 100%;
  top: 0;
  left: -300px;
  position: fixed;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}
#notice,#best-posts{
  border: solid 1px grey;
  margin-bottom: 50px;
}
#notice > span,#best-posts > span{
  font-size: 15pt;
}
#board-list{
  margin-top: 50px;
}
#view-left{
  min-height: 500px;
  width: 900px;
  margin-right: 30px;
}
#wrap-inner-view{
  margin-top: 150px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
#view-post{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  border: solid 1px grey;
}
#post-title{
  font-size: 2em;
  padding-bottom: 5px;
}
#post-body{
  text-align: left;
  padding: 20px;
  flex: 1;
}
#post-body pre{
  overflow: auto;
  white-space: pre-wrap;
}
#post-authorandtype{
  float:left;
  padding:5px 20px;
}
#post-authorandtype a{
  color: black;
}
#post-views{
  float:right;
  padding:5px 20px;
}
#post-thumbuparea{
  height: 100px;
}
#post-thumbuparea img{
  width: 50px;
  height: 50px;
  margin-top: 8px;
}
hr{
  margin: 0;
}
#wrap-inner-post{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#write-box{
  height: 900px;
  max-width: 900px;
  min-width: 900px;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
}
#write-title{
  font-size: 35px;
  width: 898px;
  border:none;
  padding-left: 20px;
}
#write-content{
  flex: 1;
  resize: none;
  border: none;
  padding: 20px;
}
#write-bar{
  margin-top:1px;
}
#write-author,#write-password{
  float:left;
  margin-right:2px;
  font-size:20px;
}
#write-submit-btn,#write-cancel-btn{
  margin-left: 2px;
  float:right;
}
#write-info{
  text-align: left;
  font-size: 2em;
}
#type-dropdown{
  width: 200px;
  display: inline;
  float:left;
  height: 36px;
}
#modify-btn,#delete-btn{
  margin: 2px;
  float:right;
}
#delete-password{
  float:right;
  margin: 2px;
  font-size: 21px;
}
#pages{
  height: 50px;
  width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
#pages hr{
  margin-bottom: 10px;
}
#pages input{
  width: 40px;
  font-size: 18px;
  position: absolute;
  right: 50px;
}
#pages button{
  position: absolute;
  right: 0px;
  bottom: 4px;
}
#search-button{
  float: right;
  margin-right: 280px;
}
#search-keyword{
  float: right;
  margin-right: 5px;
  margin-top: 1px;
  font-size: 20px;
}
#search-mode{
  width:120px;
  float: right;
  margin-right: 5px;
}
#board-title-search{
  padding-top:50px;
  font-size: 3em;
}
#reply-upper{
  margin-top: 10px;
  text-align: left;
}
#reply-area{
  margin-top: 5px;
}
#reply{
  border: 1px solid black;
  margin-bottom: 5px;
}
#reply-bar, #reply-body{
  text-align:left;
  margin: 1px;
  margin-left: 10px;
  overflow:hidden;
  word-wrap:break-word;
}
#reply-bar{
  font-size: 20px;
}
#reply-bar a, #reply-bar span{
  float: right;
  margin-right: 10px;
}
#reply-write-form{
  display: flex;
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#child-write-form{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-left:20px;
}
#reply-write-form input,#reply-write-form textarea,#child-write-form input,#child-write-form textarea{
  border: none;
}
#reply-write-form textarea,#child-write-form textarea{
  resize: none;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  flex: 1;
}
#reply-write-form button,#child-write-form button{
  margin: 3px;
  width: 54px;
}
#reply-info{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 5px;
}
#login-form{
  margin-top: 50px;
}
#login-form button{
  margin-top: 5px;
  float:right;
}
#register{
  padding-top:100px;
  text-align: center;
  font-size:70px;
}
#register-form{
  font-size: 30px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 50px;
}