body,html{
  height: 100%;
  margin: 0;
  min-width: 1160px;
}
p{
  margin: 0;
}
.table{
  margin-bottom: 0;
}
#header{
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
}
#content{
  height: 100%;
  min-height: 1300px;
  text-align: center;
}
#board-title{
  padding-top:40px;
  margin-bottom: 30px;
  font-size: 5em;
}
#wrap-inner{
  min-height: 1100px;
  display: flex;
  justify-content: center;
}
#inner-left{
  min-height: 1000px;
  min-width: 800px;
  border: solid 1px grey;
  margin-right: 30px;
}
#inner-right{
  min-height: 1000px;
  min-width: 250px;
  font-size: 10pt;
}
#sidebar {
  background: grey;
  width: 300px;
  height: 100%;
  top: 0;
  left: -300px;
  position: fixed;
  z-index: 1;
}
#notice,#best-posts{
  border: solid 1px grey;
  margin-bottom: 50px;
}
#notice > span,#best-posts > span{
  font-size: 15pt;
}